h1, h2, h3, h4, h5, h6 {
  font-family: Raleway-ExtraLight, sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
}
h2{
    font-style: italic;
}
.fancyTab {
  text-align: center;
  padding: 15px 0 5px 0;
  background-color: #eee;
  box-shadow: 0 0 0 1px #ddd;
  top: 15px;
  transition: top .2s;
}
.fancyTab .active {
  top: 0;
  transition: top .2s;
}
.whiteBlock {
  display: none;
}
.fancyTab .active .whiteBlock {
  display: block;
  height: 2px;
  bottom: -2px;
  background-color: #fff;
  width: 99%;
  position: absolute;
  z-index: 1;
}
.fancyTab a {
  font-family: Raleway-ExtraLight, sans-serif;
  font-size: 1.65em;
  font-weight:300;
  transition: .2s;
  color:#333;
  text-decoration: none;
}
.fancyTab p {
  margin: 0;
  padding: 0;
}
.fancyTab .hidden-xs {
  white-space: nowrap;
}
.fancyTabs {
  margin: 15px 0 0 0;
}
li .fancyTab a {
  padding-top: 15px;
  top: -15px;
  padding-bottom: 0;
}
.fancyTab .fa {
  font-family: FA-solid, sans-serif;
  font-size: 40px;
  width: 100%;
  color: #666;
}
.fancyTab .active .fa {
  color: #cfb87c;
}
.fancyTab a:focus {
  outline: none;
}
.fancyTabContent {
  border-color: transparent;
  position: relative;
  background-color: #fff;
  margin-top: 1px;
}
.nav-tabs > li.fancyTab.active > a,
.nav-tabs > li.fancyTab.active > a:focus,
.nav-tabs > li.fancyTab.active > a:hover {
	border-width:0;
}
.nav.nav-tabs .fancyTab a[data-toggle="tab"] {
  background-color: transparent;
  border-bottom: 0;
}
.tabs .nav-tabs li .fancyTab .active a {
  box-shadow: none;
  top:0;
}
.fancyTab.active {
  background: #fff;
  box-shadow: 1px 1px 0 1px #fff, 0 0px 0 1px #ddd, -1px 1px 0 0px #ddd inset;
}
.arrow-down {
  display: none;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 22px solid #ddd;
  position: absolute;
  top: -1px;
  left: calc(50% - 20px);
}

.arrow-down-inner {
  width: 0;
  height: 0;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  border-top: 12px solid #fff;
  position: absolute;
  top: -22px;
  left: -18px;
}
a:active, a:hover {
    outline: 0;
}
.fancyTab.active .arrow-down {
  display: block;
}

@media (max-width: 1200px) {
  .fancyTab .fa {
  	font-size: 36px;
  }

  .fancyTab .hidden-xs {
    font-size: 22px;
	}
}
@media (max-width: 992px) {
  .fancyTab .fa {
  	font-size: 33px;
  }
  .fancyTab .hidden-xs {
  	font-size: 18px;
    font-weight: normal;
  }
}
@media (max-width: 768px) {
  .fancyTab > a {
    font-size: 18px;
  }
  .nav > li .fancyTab > a {
    padding: 15px 0 5px 0;
    margin-bottom:inherit;
  }
  .fancyTab .fa {
    font-size: 30px;
  }
  .nav-tabs > li .fancyTab > a {
    padding-bottom: 0;
  }
  .fancyTab .active .fa {
    color: #333;
	}
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}
.nav > li {
    position: relative;
    display: block
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 5px 0 0 0;
}
.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: #eee
}
.nav-tabs {
    margin: 0;
}
.nav-tabs > li {
    float: left;
}
.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.22857143;
    border-radius: 4px 4px 0 0
}
.tab-content > .tab-pane {
    display: none
}
.tab-content > .active {
    display: block
}
.row {
    margin-right: -15px;
    margin-left: -15px
}
.row:after, .row:before {
    display: table;
    content: " "
}
.col-md-12{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10px;
}
.col-md-12 p{
  font-family: Raleway-Light, sans-serif;
  font-size: 0.9rem;
  font-weight: 300;
}
.col-md-12 .bold{
  font-style: italic;
  font-family: Raleway-SemiBold, sans-serif;
}
@media (min-width: 992px) {
    .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
        float: left
    }
    .col-md-12 {
        width: 100%
    }
}
@media (max-width: 767px) {
    .hidden-xs {
        display: none !important
    }
}
.nav:after{
    display: table;
    content: " ";
    clear: both;
    padding: 15px 0 0 0;
}






