{% extends 'products/products.html' %}
{% load static %}
{% load staticfiles %}
 {% block title %}
        MilaTort - скидання пароля
    {% endblock %}
{% block content %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/password_reset.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/password_reset_mobile.css' %}">
  <div class="master_block">
      <p>
        Ваш пароль успішно зміненний! Ви можете продовжити, зайшовши в свій  <a href="{{ referer_path }}">обліковий запис</a>.
      </p>
  </div>
{% endblock %}