{% extends 'products/products.html' %}
{% load static %}
{% load staticfiles %}
 {% block title %}
        MilaTort - скидання пароля
 {% endblock %}
{% block content %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/password_reset.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/password_reset_mobile.css' %}">
  <div class="master_block">
      <p>
           Ми надіслали Вам інструкції щодо налаштування пароля. Якщо існує обліковий запис із введеним Вами електронним адресом Ви невдовзі отримаєте лист на цей адрес.
      </p>
      <p>
          Якщо Ви НЕ отримали електронний лист, переконайтеся, що Ви ввели правильну адресу, чи ту яку Ви вводили при реєстрації.
          Можливо Ви взагалі не вводили Email при реєстрації. В такому випадку скористайтесь формою для відновлення пароля <a href="{% url 'password_reset' %}">через СМС.</a> Також перевірте папку зі спамом.
      </p>
  </div>
{% endblock %}