{% extends 'products/products.html' %}
{% load static %}
{% load staticfiles %}
{% block title %}
        MilaTort - скидання пароля
 {% endblock %}
{% block content %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/password_reset.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/password_reset_mobile.css' %}">
  <div class="master_block">
      <p>
          Ми надіслали Вам СМС на номер: {{ phone }} з новим паролем. Якщо існує обліковий запис із введеним Вами номером телефону Ви невдовзі отримаєте СМС на цей номер.
      </p>
      <p>
          Якщо Ви НЕ отримали СМС протягом 5 хвилин, переконайтеся, що Ви ввели правильний номер телефону, чи той номер який Ви вводили при реєстрації.
      </p>
      <p>
          Ви отримали СМС! Отож Ваш пароль успішно зміненний! Ви можете продовжити, зайшовши в свій  <a href="{{ referer_path }}">обліковий запис</a>.
      </p>
  </div>
{% endblock %}