{% extends 'products/products.html' %}
{% load static %}
{% load staticfiles %}
 {% block title %}
        MilaTort - скидання пароля
 {% endblock %}
{% block content %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/password_reset.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/password_reset_mobile.css' %}">
  <div class="master_block">
      {% if validlink %}
        <h3>Змінити пароль</h3>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit">Змінити пароль</button>
        </form>
      {% else %}
        <p>
            Посилання для зміни пароля було недійсним, можливо, тому що його Ви його вже використовували. Будь ласка, запросіть нове <a href="{% url 'password_reset' %}">скидання пароля.</a>
        </p>
      {% endif %}
  </div>
{% endblock %}