{% extends 'products/products.html' %}
{% load static %}
{% load staticfiles %}
 {% block title %}
        MilaTort - скидання пароля
 {% endblock %}
{% block content %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/password_reset.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/password_reset_mobile.css' %}">
  <div class="master_block">
        <p>
            Щось пішло не так:) Можливо Ви використовували інший номер телефону при реєстрації, чи просто припустилися помилки! Будь ласка, запросіть нове <a href="{% url 'password_reset' %}">скидання пароля.</a>
        </p>
  </div>
{% endblock %}