 <section>
        <div class="container-gallary">
             <div class="blocks">
                    <div class="pic"> <a class="gallary-click" href="#"> <img class="one-1 animated flipInX" src={% static 'img/section8/c1r1.jpg' %}></a></div>
                    <div class="pic"> <a class="gallary-click" href="#"> <img class="one-2 animated flipInX" src={% static 'img/section8/c2r1.jpg' %}></a></div>
                    <div class="pic"> <a class="gallary-click" href="#"> <img class="one-3 animated flipInX" src={% static 'img/section8/c3r1.jpg' %}></a></div>
                    <div class="pic"> <a class="gallary-click" href="#"> <img class="one-4 animated flipInX" src={% static 'img/section8/c4r1.jpg' %}></a></div>
                    <div class="pic"> <a class="gallary-click" href="#"> <img class="one-5 animated flipInX" src={% static 'img/section8/c5r1.jpg' %}></a></div>
             </div>
             <div class="blocks">
                    <div class="pic"> <a class="gallary-click" href="#"> <img class="one-6 animated flipInX" src={% static 'img/section8/c1r2.jpg' %}></a></div>
                    <div class="pic"> <a class="gallary-click" href="#"> <img class="one-7 animated flipInX" src={% static 'img/section8/c2r2.jpg' %}></a></div>
                    <div class="pic"> <a class="gallary-click" href="#"> <img class="one-8 animated flipInX" src={% static 'img/section8/c3r2.jpg' %}></a></div>
                    <div class="pic"> <a class="gallary-click" href="#"> <img class="one-9 animated flipInX" src={% static 'img/section8/c4r2.jpg' %}></a></div>
                    <div class="pic"> <a class="gallary-click" href="#"> <img class="one-10 animated flipInX" src={% static 'img/section8/c5r2.jpg' %}></a></div>
             </div>
             <div class="blocks">
                    <div class="pic"> <a class="gallary-click" href="#"> <img class="one-11 animated flipInX" src={% static 'img/section8/c1r3.jpg' %}></a></div>
                    <div class="pic"> <a class="gallary-click" href="#"> <img class="one-12 animated flipInX" src={% static 'img/section8/c2r3.jpg' %}></a></div>
                    <div class="pic"> <a class="gallary-click" href="#"> <img class="one-13 animated flipInX" src={% static 'img/section8/c3r3.jpg' %}></a></div>
                    <div class="pic"> <a class="gallary-click" href="#"> <img class="one-14 animated flipInX" src={% static 'img/section8/c4r3.jpg' %}></a></div>
                    <div class="pic"> <a class="gallary-click" href="#"> <img class="one-15 animated flipInX" src={% static 'img/section8/c5r3.jpg' %}></a></div>
             </div>
             <script type="text/javascript">
                 let effect = ['flipInX', 'flipInY', 'fadeIn','zoomIn','zoomOut','bounceIn', 'fadeOut'];
                 for (let i=1; i <= 15; i++){
                     let rand = Math.floor(Math.random() * effect.length);
                        setInterval(() =>{
                            $('.one-' + i).removeClass('flipInX');
                            $('.one-' + i).addClass(effect[rand]);
                    }, rand * 1000);}
              </script>
        </div>
    </section>

