@media screen and (min-width: 601px) and (max-width: 660px) {
    .nav a{
        font-size: 0.7rem;
    }
     .welcome p {
    font-size: 0.6rem;
    }
    .welcome h3{
    font-size: 1.05rem;
    }
    .welcome h2{
    font-size: 1.3rem;
    }
     .container-experience h3{
    font-size: 1.05rem;
    }
    .container-experience p{
    font-size: 0.8rem;
    }
    .container-experience h2{
    font-size: 1.3rem;
    }
     .cooking h3{
    font-size: 1.05rem;
    }
    .cooking p{
    font-size: 0.6rem;
    }
    .cooking h2{
    font-size: 1.3rem;
    }
     .titles{
    margin-top: 1.25rem;
    }
    .titles h2{
    font-size: 1.55rem;
    }
    .titles h3{
    font-size: 1.3rem;
    }
    .text-all>a {
    font-size: 1rem;
    }
    .price-value{
    font-size: 1.35rem;
    }
    .text-all>p{
    font-size: 0.7rem;
    }
    .container-order h2{
    font-size: 1.55rem;
    }
    .container-order h3{
    font-size: 1.55rem;
    }
    footer .container>p{
    font-size: 0.8rem;
    }
    .copyright>p{
    font-size: 0.55rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 990px) {
    .nav a{
        font-size: 0.8rem;
    }
       .welcome p {
    font-size: 0.7rem;
    }
    .welcome h3{
    font-size: 1.15rem;
    }
    .welcome h2{
    font-size: 1.4rem;
    }
       .container-experience h3{
    font-size: 1.15rem;
    }
    .container-experience p{
    font-size: 0.9rem;
    }
    .container-experience h2{
    font-size: 1.4rem;
    }
      .cooking h3{
    font-size: 1.15rem;
    }
    .cooking p{
    font-size: 0.7rem;
    }
    .cooking h2{
    font-size: 1.4rem;
    }
     .titles{
    margin-top: 1.35rem;
    }
    .titles h2{
    font-size: 1.65rem;
    }
    .titles h3{
    font-size: 1.4rem;
    }
    .text-all>a {
    font-size: 1.1rem;
    }
    .price-value{
    font-size: 1.45rem;
    }
    .text-all>p{
    font-size: 0.8rem;
    }
     .container-order h2{
    font-size: 1.65rem;
    }
    .container-order h3{
    font-size: 1.65rem;
    }
     footer .container>p{
    font-size: 0.9rem;
    }
    .copyright>p{
    font-size: 0.65rem;
    }
}
@media screen and (min-width: 991px) and (max-width: 1100px) {
    .nav a{
        font-size: 0.85rem;
    }
        .welcome p {
    font-size: 0.75rem;
    }
    .welcome h3{
    font-size: 1.2rem;
    }
    .welcome h2{
    font-size: 1.45rem;
    }
        .container-experience h3{
    font-size: 1.2rem;
    }
    .container-experience p{
    font-size: 0.95rem;
    }
    .container-experience h2{
    font-size: 1.45rem;
    }
       .cooking h3{
    font-size: 1.2rem;
    }
    .cooking p{
    font-size: 0.75rem;
    }
    .cooking h2{
    font-size: 1.45rem;
    }
     .titles{
    margin-top: 1.4rem;
    }
    .titles h2{
    font-size: 1.7rem;
    }
    .titles h3{
    font-size: 1.45rem;
    }
    .text-all>a {
    font-size: 1.15rem;
    }
    .price-value{
    font-size: 1.5rem;
    }
    .text-all>p{
    font-size: 0.85rem;
    }
     .container-order h2{
    font-size: 1.7rem;
    }
    .container-order h3{
    font-size: 1.7rem;
    }
     footer .container>p{
    font-size: 0.95rem;
    }
    .copyright>p{
    font-size: 0.7rem;
    }
}
@media screen and (min-width: 1101px) and (max-width: 1200px) {
    .nav a{
        font-size: 0.9rem;
    }
        .welcome p {
    font-size: 0.8rem;
    }
    .welcome h3{
    font-size: 1.25rem;
    }
    .welcome h2{
    font-size: 1.5rem;
    }
         .container-experience h3{
    font-size: 1.25rem;
    }
    .container-experience p{
    font-size: 1rem;
    }
    .container-experience h2{
    font-size: 1.5rem;
    }
       .cooking h3{
    font-size: 1.25rem;
    }
    .cooking p{
    font-size: 0.8rem;
    }
    .cooking h2{
    font-size: 1.5rem;
    }
     .titles{
    margin-top: 1.45rem;
    }
    .titles h2{
    font-size: 1.75rem;
    }
    .titles h3{
    font-size: 1.5rem;
    }
    .text-all>a {
    font-size: 1.2rem;
    }
    .price-value{
    font-size: 1.55rem;
    }
    .text-all>p{
    font-size: 0.9rem;
    }
     .container-order h2{
    font-size: 1.75rem;
    }
    .container-order h3{
    font-size: 1.75rem;
    }
      footer .container>p{
    font-size: 1rem;
    }
    .copyright>p{
    font-size: 0.75rem;
    }
}
@media screen and (min-width: 1201px) and (max-width: 1301px) {
    .nav a{
        font-size: 0.95rem;
    }
         .welcome p {
    font-size: 0.85rem;
    }
    .welcome h3{
    font-size: 1.3rem;
    }
    .welcome h2{
    font-size: 1.55rem;
    }
          .container-experience h3{
    font-size: 1.3rem;
    }
    .container-experience p{
    font-size: 1.05rem;
    }
    .container-experience h2{
    font-size: 1.55rem;
    }
       .cooking h3{
    font-size: 1.3rem;
    }
    .cooking p{
    font-size: 0.85rem;
    }
    .cooking h2{
    font-size: 1.55rem;
    }
     .titles{
    margin-top: 1.5rem;
    }
    .titles h2{
    font-size: 1.8rem;
    }
    .titles h3{
    font-size: 1.55rem;
    }
     .text-all>a {
    font-size: 1.25rem;
    }
    .price-value{
    font-size: 1.6rem;
    }
    .text-all>p{
    font-size: 0.95rem;
    }
      .container-order h2{
    font-size: 1.8rem;
    }
    .container-order h3{
    font-size: 1.8rem;
    }
      footer .container>p{
    font-size: 1.05rem;
    }
    .copyright>p{
    font-size: 0.8rem;
    }
}




@media screen and (min-width: 601px) and (max-width: 1360px){
     .container-experience h3{
    font-size: 2rem;
    }
    .container-experience p{
    font-size: 1.3rem;
    }
    .container-experience h2{
    font-size: 2.5rem;
    }
    .cooking h3{
    font-size: 2rem;
    }
    .cooking p{
    font-size: 1.3rem;
    }
    .cooking h2{
    font-size: 2.5rem;
    }
    .titles h2{
    font-size: 2.1rem;
    }
    .titles h3{
    font-size: 1.7rem;
    }
    .text-all>a {
    font-size: 1.2rem;
    }
    .price-value{
    font-size: 1.7rem;
    }
    .text-all>p{
    font-size: 0.8rem;
    }
    a.button {
        left: calc(50% - 6.6rem);
        left: -webkit-calc(50% - 6.6rem);
    }
    footer .container>p{
    font-size: 1.1rem;
    }
}