@media screen and (max-width: 660px) {
        .master_block h1:first-child{
            margin-bottom: 2%;
        }
        #change_mobile_content{
            visibility: hidden;
        }
        #change_mobile_content:before{
            content: 'Номер тел.:';
            visibility: visible;
            display: block;
            position: absolute;
            margin-top: 3px;
        }
        .master_block{
            margin: 0 10%;
        }
        .master_block h1{
            margin: 0;
            font-size: 1.4rem;
        }
        .master_block p{
            line-height: 1.2rem;
            font-size: 0.8rem;
        }
        .master_block #pass_reset{
            width: 60%;
            margin-top: 10%;
        }
        .master_block button{
            width: 60%;
            margin-top: 10%;
        }
        .master_block input#tel_number{
            width: 60%;
            margin-left: -2.7rem;
        }
        .master_block input{
            width: 60%;
        }
        .back_home{
            display: inline-block;
        }
        .fixed .prev_arrow{
            display: none;
        }
        .basket-block{
            display: none;
        }
        .login-block{
            display: none;
        }
        .titles{
        margin: 1rem auto 1.7rem auto;
    }
}
@media screen and (min-width: 661px) and (max-width: 760px) {
      .master_block h1{
            margin: 0;
            font-size: 1.5rem;
        }
        .master_block p{
            line-height: 1.25rem;
            font-size: 0.9rem;
        }
         #change_mobile_content{
            margin-top: 3px;
        }
        .master_block button {
            margin: 8% auto;
            width: 50%;
        }
        .master_block #pass_reset {
             margin: 8% auto;
            width: 50%;
        }

}
@media screen and (min-width: 761px) and (max-width: 990px) {
     .master_block h1{
            margin: 0;
            font-size: 1.6rem;
        }
        .master_block p{
            line-height: 1.3rem;
            font-size: 1rem;
        }
          #change_mobile_content{
            margin-top: 3px;
        }
        .master_block button {
            margin: 6% auto;
            width: 45%;
        }
        .master_block #pass_reset {
             margin: 6% auto;
            width: 45%;
        }
}
@media screen and (min-width: 991px) and (max-width: 1100px) {
    .master_block h1{
            margin: 0;
            font-size: 1.7rem;
        }
        .master_block p{
            line-height: 1.35rem;
            font-size: 1.1rem;
        }
          #change_mobile_content{
            margin-top: 3px;
        }
        .master_block button {
            margin: 4% auto;
            width: 40%;
        }
        .master_block #pass_reset {
             margin: 4% auto;
            width: 40%;
        }
}